html, body {
  height: 100%;
}
    .rotate {
      transform: skew(-20deg);
    }
    .derotate {
        transform: skew(+20deg);
    }

    .skew {
      transform: rotate(-3deg) skew(-3deg);
    }

    .deskew {
      transform: rotate(3deg) skew(3deg);
    }

    .text {
        margin: 0.75em;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .input-right {
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-content: center;
    box-shadow: inset -12px 0 0 0 #467f98;
    padding: 0;
    
    }

    .input-left {
      background-color: #fff;
      width: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      align-content: center;
      box-shadow: inset -12px 0 0 0 #467f98;
      padding: 0;
      
      }



  .service-icon {
      background-color: #467f98;
      color: #fff;
      text-shadow: 2px 0 4px rgb(0 0 0 / 50%);
      text-align: center;
      display: flex;
      align-items: center;
  }